.card {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 90%;
    padding: 25px;
    background: rgb(213, 254, 10);
    color: #000;
  }
  
  .card > div {
    display: flex;
    gap: 20px;
  }
  
  .card img {
    cursor: pointer;
  }
  
  .badge {
    display: inline-block;
    margin: 0 15px 15px 0;
    padding: 10px 10px;
    background-color: rgb(223, 11, 223);
    border-radius: 9999px;
  }
  